@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #fff;
	--lightBlack: #1c1c1c;
	--primaryGreen: #caff33;
	--secondGreen: #22251b;
	--GhostButton: inherit;
	--lightGrey: #b3b3b3;
	--darkGrey: #262626;
	--mediumGreyActive: #1a1a1a;
	--textColor: #59595a;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: 'Lexend', serif;
	color: var(--white);
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
	background: var(--mediumGreyActive);
}
